
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                {% comment %} <a class="nav-link" 
                                   target="_blank" 
                                   href="https://appseed.us/admin-dashboards/django-dashboard-atlantis-dark">
									Django Atlantis Dark
								</a> {% endcomment %}
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        {% comment %} &copy; <a target="_blank" href="https://www.themekita.com">ThemeKita</a> 
                        - coded by <a target="_blank" href="https://appseed.us">AppSeed</a> {% endcomment %}
					</div>				
				</div>
            </footer>
            